@model MCP_WEB.Models.m_Jig

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>m_Jig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JigNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JigNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Column)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Column)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Row)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Row)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifyBy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="JigID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
